name: ci
on: [push]

jobs:

  tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: go test
        run: go test .

  go-build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: go build
        run: go build -o ./marius -ldflags "-X main.GitCommit=${{ githucib.sha }}" .
      - name: run executable
        run: ./marius --help

  docker-build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: docker build
      run: docker build --build-arg version=$(GIT_COMMIT) --file Dockerfile --tag la3mmchen/marius:latest .
    - name: run app
      run: docker run --rm -t la3mmchen/marius:latest

  publish:
    if: github.ref == 'refs/heads/master'
    runs-on: ubuntu-latest
    steps:
    - name: docker push
      uses: elgohr/Publish-Docker-Github-Action@master
      with:
        name: la3mmchen/marius
        username: ${{ secrets.dockerhubuser }}
        password: ${{ secrets.dockerhub }}